/* PROGRAMMING BY AKASH KUMAR BASAK */

table.catagory {
	padding: 0;
	background: #3C6;
	float: left;
	
}

td.tdthree1, .tdthree2, .tdthree3, .tdthree4, .tdthree5, .tdthree6, .tdthree7, .tdthree8, .tdthree9, .tdthree10, .tdthree11, .tdthree12
{
	background:#004D23;
color: aliceblue;}
